@using Fitnes.Storage.Repository
@model (Client, (List<KeyValuePair<int, string>>, List<KeyValuePair<int, string>>))
@{
    Layout = "_Layout";
}

    @using (Html.BeginForm("Update", "Client", FormMethod.Post)) { 
    <fieldset class="container">
        <input type="hidden" name="id" value="@Model.Item1.ClientId" />
        <legend>Update data</legend>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" required class="form-control" name="Name" id="name" aria-describedby="nameHelp" value="@Model.Item1.Name">
        </div>
        <div class="form-group">
            <label for="lastName">Lastname</label>
            <input type="text" required class="form-control" name="LastName" id="lastName" value="@Model.Item1.LastName">
        </div>
        <div class="form-group">
            <label for="selectTrainer">Choose trainer</label>
            <select class="form-control" name="TrainerId" id="selectTrainer">
                <option value="0"></option>
                @foreach (var elem in Model.Item2.Item1) {
                    if (elem.Key != Model.Item1.TrainerId) {
                        <option value="@elem.Key">@elem.Value</option>
                    }
                    else {
                        <option value="@elem.Key" selected>@elem.Value</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="selectSubscription">Choose trainer</label>
            <select class="form-control" name="SubscriptionId" id="selectSubscription">
                <option value="0"></option>
                @foreach (var elem in Model.Item2.Item2) {
                    if (elem.Key != Model.Item1.SubscriptionId) {
                        <option value="@elem.Key">@elem.Value</option>
                    }
                    else {
                        <option value="@elem.Key" selected>@elem.Value</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">You can input photo new client</small>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </fieldset>
    }