@using Fitnes.Storage.Manager.Employers
@model List<EmployeeWithPositionAndGymName>
@{
    Layout = "_Layout";
}
    <div class="container">
        @using (Html.BeginForm("SearchEmployee", "Employee", FormMethod.Post)) {
            <div class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" required type="text" name="text" placeholder="Search" value="">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input type="radio" name="term" id="option1" value="1" autocomplete="off" checked> Position name
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="term" id="option2" value="2" autocomplete="off"> Name
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="term" id="option3" value="3" autocomplete="off"> Experience
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="term" id="option4" value="4" autocomplete="off"> Salary
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="term" id="option5" value="5" autocomplete="off"> Gym name
                    </label>
                </div>
            </div>
        }
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">EmployeeId</th>
                    <th scope="col">Position name</th>
                    <th scope="col">Name</th>
                    <th scope="col">Experience</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Gym</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var elem in Model) {
                    <tr class="table-success">
                        <td>@elem.Id</td>
                        <td>@elem.PositionName</td>
                        <td>@elem.Name</td>
                        <td>@elem.Experience</td>
                        <td>@elem.Salary</td>
                        <td>@elem.GymName</td>
                        <td>
                            @using (Html.BeginForm("UpdateEmployee", "Employee", FormMethod.Get)) {
                                <div>
                                    <input type="hidden" name="id" value="@elem.Id" />
                                    <input type="submit" class="btn btn-outline-success" value="Update" />
                                </div>
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteEmployee", "Employee", FormMethod.Get)) {
                                <div>
                                    <input type="hidden" name="id" value="@elem.Id" />
                                    <input type="submit" class="btn btn-outline-success" value="Delete" />
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @using (Html.BeginForm("CreateEmployee", "Employee", FormMethod.Get)) {
            <div>
                <input type="submit" class="btn btn-success" value="Add employee" />
            </div>
        }
        @using (Html.BeginForm("ShowPositions", "Position", FormMethod.Get)) {
            <div>
                <input type="submit" class="btn btn-success" value="Show positions" />
            </div>
        }
    </div>