@using Fitnes.Storage.Repository
@model List<Subscription>
@{
    Layout = "_Layout";
}
    <div class="container">
        @using (Html.BeginForm("SearchSubscription", "Subscription", FormMethod.Post)) {
            <div class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" required type="text" name="text" placeholder="Search" value="">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input type="radio" name="term" id="option1" value="1" autocomplete="off" checked> Name
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="term" id="option2" value="2" autocomplete="off"> Price
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="term" id="option3" value="3" autocomplete="off"> Time
                    </label>
                </div>
            </div>
        }
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">SubscriptionId</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Months</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var elem in Model) {
                    <tr class="table-success">
                        <td>@elem.SubscriptionId</td>
                        <td>@elem.Name</td>
                        <td>@elem.Price</td>
                        <td>@elem.Time</td>
                        <td>
                            @using (Html.BeginForm("UpdateSubscription", "Subscription", FormMethod.Get)) {
                                <div>
                                    <input type="hidden" name="id" value="@elem.SubscriptionId" />
                                    <input type="submit" class="btn btn-outline-success" value="Update" />
                                </div>
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteSubscription", "Subscription", FormMethod.Get)) {
                                <div>
                                    <input type="hidden" name="id" value="@elem.SubscriptionId" />
                                    <input type="submit" class="btn btn-outline-success" value="Delete" />
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @using (Html.BeginForm("CreateSubscription", "Subscription", FormMethod.Get)) {
            <div>
                <input type="submit" class="btn btn-success" value="Add subscription" />
            </div>
        }
    </div>